@import "components/general.css";
@import "components/nav.css";
@import "components/article.css";

.profile-card {
  background-color: var(--white);
  border: 3px solid var(--black);
  border-radius: 5px;
}
